@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,400&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  /* color: white; */
  background: linear-gradient(160deg, rgb(238, 240, 238) 0%, rgb(164, 238, 149) 0%, rgb(221, 238, 220) 20%, rgb(221, 238, 220) 100%)fixed;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font: 16px Roboto, sans-serif;
}

#app {  
  padding: 30px 0px;
}